<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
      <h1 class="govuk-panel__title">Request sent</h1>
      <div class="govuk-panel__body">You’ve confirmed that Enfield School would like to offer PE in 2021/22</div>
    </div>
    <h2 class="govuk-heading-m">What happens now?</h2>
    <p class="govuk-body">An email has been sent to <a href="mailto:admissions@uea.ac.uk">admissions@uea.ac.uk</a> confirming this choice and setting out next steps.</p>
    <p class="govuk-body">In September we’ll let you know how many places we’ve allocated for this course. This will be based on the current year’s recruitment figure of (INSERT FIGURE). If you have any questions, contact <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
    <p class="govuk-body">You have until 10 July to change this request.</p>
    <a class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6" href="/pe-allocations-yes">Return to Request PE courses for 2021/22</a>
  </div>
</div>
